@charset "utf-8";
/*CSS Document*/

/* defined custom styles */
:root {
    --mainbackground-color: aliceblue;
    --main-lightcolor: lavenderblush;
    --main-darkcolor: cornflowerblue;
    --main-fontcolor: midnightblue;
}

body {
    color: var(--main-fontcolor);
    background-color: var(--mainbackground-color);
}

header {
    background-color: var(--main-lightcolor);
    color: var(--main-darkcolor);
    font-family: Arial, sans-serif;
    border: var(--main-darkcolor) solid medium;
    text-align: center;
    align-items: center;
}

nav {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px,6fr));
    grid-auto-rows: 10px;
    grid-gap: 1em;
    width: 50%;
    min-width: 85px;
}

nav a {
    color: var(--main-darkcolor);
    text-decoration: none;
}

nav a:hover {
    color: var(--main-fontcolor);
    font-style: italic;
    text-decoration: underline;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav p {
    align-items: center;
    color:var(--main-lightcolor);
    border:var(--main-darkcolor) solid medium;
    background-color: var(--mainbackground-color);
    font-weight: bold;
}

@media screen and (max-width: 600px){
    header img {  
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;}

    nav {
        display: grid;
        align-items: center;
        grid-template-columns: minmax(100px,1fr);
        grid-auto-rows: 10px;
        grid-gap: 1em;
        width: 90%;
        min-width: 85px;
    }
    
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

footer:hover {
    background-color: var(--main-darkcolor);
    color: var(--main-lightcolor);
}

img {
    width: 50%;
    min-width: 85px;
}

figure img {
    width: 200px; 
    min-width: 85px; 
    align-items: center;
}

figcaption {
    font-style: italic;
}

/* .people {
    width: 40%;
    min-width: 40px;
    align-items: center;
}


#pucketpic, #valentinepic {
    float:right;
    margin-right:10px;
    margin-bottom: 10px; 
    margin-left: 10px;
} */
 

ul {
    list-style-image: url("img/music_icon.png");
}

table {
    font-family:Arial, Verdana, Helvetica, sans-serif;
    border: solid thin var(--main-darkcolor);
    border-collapse: collapse;
    border-width: 4px;
}

 td {
    text-align: center;
    border: solid thin var(--main-darkcolor);
    border-collapse: collapse;
    border-width: 2px;
    /* background-color: var(--main-lightcolor);
    color: var(--main-darkcolor); */
} 

 th {
    border-collapse: collapse;
    border-width: 2px;
    /* background-color: var(--main-darkcolor);
    color: var(--main-lightcolor); */
    min-width: 10%;
} 

td, th {
    padding: 5px 10px;
}

tr:nth-child(odd) {
    background-color: rgba(201, 207, 253, 0.9); 
    }

    tr:nth-child(even) {
    background-color: lavender; 
    }

footer {
    font-size: 0.7500em;
    font-style: italic;
    text-align: center;
    
}

